

.navbar-brand{
  font-size: 200%;
  font-family: Arial, Verdana, sans-seriff;
}

.jumbotron h1{
  font-size: 300%;
  text-align: center;
  font-family: Arial, Verdana, sans-seriff;
  text-transform: uppercase;
  letter-spacing: normal;

}

.jumbotron h2{
  font-size: 200%;
  font-family: Arial, Verdana, sans-seriff;
}

.container h2{
  font-size: 200%;
  font-family: Arial, Verdana, sans-seriff;
}

a:link{
  color: #ffffff;
}

a:visited{
  color: #3366ff;
}

a:hover{
  color: ##cccccc;
  text-decoration: underline;
}
